.test {
  padding: 1rem;
  margin: 1rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test .result {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: beige;
  border: 2px solid beige;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.2rem;
}

.test .name {
  width: 200px;
}

.test .description {
  width: 500px;
  height: 36px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.test .action {
  width: 80px;
  height: 36px;
  background-color: lightgray;
  border: 1px solid grey;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
  opacity: 0.8;
  cursor: pointer;
}
.test .action:disabled,
.test .action:disabled:hover {
  background-color: lightgray;
  cursor: default;
}
.test .action:hover {
  background-color: beige;
  opacity: 1;
}

.result.success {
  color: green;
  border: 2px solid green;
}

.result.failure {
  color: red;
  border: 2px solid red;
}
