---
const props = Astro.props

import style from 'styles/style'
import FormControls from '@widgets/form/FormControls'
import Responsivity from '@widgets/Responsivity'
---

<div style={style('form', { ...props, visibility: 'hidden' })} class="form">
  <slot />
  <div style={style('formControls')}>
    <FormControls client:load />
  </div>
  <Responsivity className="form" client:load />
</div>
