---
export interface Props {
  isRed: boolean
}
const { isRed } = Astro.props

import Box from './box.astro'
import themeHolder from 'styles/theme'
---

<style>
  .box {
    border: 1px solid blue;
  }
  .red {
    border-color: red;
  }
</style>

<div class:list={['box', { red: isRed }]}>
  <Box padding={themeHolder.getTheme().spaces[5]}>
    <div>QUOTE START</div>
    <pre><slot /></pre>
    <div>QUOTE END</div>
  </Box>
</div>
