---
export interface Props {
  isRed: boolean
}
const { isRed } = Astro.props

import theme from 'styles/theme'

const style = {
  padding: theme.spaces[5],
}
---

<style>
  .box {
    border: 1px solid blue;
  }
  .red {
    border-color: red;
  }
</style>

<div class:list={['box', { red: isRed }]} style={style}>
  <div>QUOTE START</div>
  <pre><slot /></pre>
  <div>QUOTE END</div>
</div>
