.tile {
  width: 12rem;
  height: 12rem;
  background-color: cornflowerblue;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.6;
}

.tile h2 {
  width: 100%;
  text-align: center;
}

.content {
  padding: 0.5rem;
}

.tile:global(.active) {
  cursor: pointer;
  opacity: 1;
}

.tile:global(.active):hover {
  background-color: rgb(17, 52, 116);
  color: white;
}

.tile:global(.lastActive) {
  border: 2px solid purple;
}

.server {
  font-weight: 600;
  color: darkred;
}
.client {
  font-weight: 600;
  color: darkgreen;
}
