.tabs {
  margin-bottom: 10px;
}

.tab {
  opacity: 0.7;
}

.tab:hover {
  opacity: 1;
}

.tab.selected {
  opacity: 1;
}

.tab label {
  cursor: pointer;
}

.tab.selected label {
  cursor: default;
}

.tab input[type='radio'],
.tab .MuiSvgIcon-root {
  display: none;
}
