---
import Board from 'projects/board/components/Board'
import GridSideLength from 'projects/board/components/GridSideLength.astro'
import BoardLayout from 'projects/board/layouts/BoardLayout.astro'
---

<BoardLayout pageTitle="RPG Store">
  <div slot="header"><GridSideLength /></div>
  <div slot="content"><Board client:only="solid-js" /></div>
</BoardLayout>
<script>
  import gridSideLengthAtom from 'projects/board/stores/gridSideLength'

  gridSideLengthAtom.subscribe((value) => {
    if (value > 10 && value < 16) {
      gridSideLengthAtom.set(value < 13 ? 16 : 10)
    }

    if (value > 20) {
      gridSideLengthAtom.set(1)
    }
    if (value < 1) {
      gridSideLengthAtom.set(20)
    }
  })
</script>
