.card {
  display: flex;
  flex-direction: column;
}

.cardAction {
  justify-self: flex-end;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* responsiveness */

.card.small {
  width: 90%;
}

.card.large {
  min-width: 25rem;
}
