.card {
  display: flex;
  flex-direction: column;
}

.cardContent {
  margin-bottom: 2rem;
}

.cardAction {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* responsiveness */

.card.small {
  width: 90%;
}

.card.large {
  min-width: 35rem;
}
