@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body {
  font-family: 'Roboto';
  font-weight: 400;
  height: 100vh;
  margin: 0;
}

a:hover {
  filter: brightness(125%);
}

.Mui-disabled {
  opacity: 0.6;
}

/* progress */

progress::-moz-progress-bar {
  background-color: #8168dc;
}
progress::-webkit-progress-value {
  background-color: #8168dc;
}
progress {
  background-color: #8168dc;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.6);
}
