<style>
  .tile {
    padding: 1rem;
    margin: 1rem;
    background-color: yellow;
    width: fit-content;
  }
</style>

<div class="tile">
  <slot />
</div>

<script>
  import 'projects/rpg/tiles/scripts/startup'
</script>
