---
import MainLayout from 'projects/rpg/tiles/layouts/MainLayout.astro'
import TileLayout from 'projects/rpg/tiles/layouts/TileLayout.astro'
import Tile from 'projects/rpg/tiles/components/Tile'
import data from 'projects/rpg/tiles/business/data'

if (import.meta.env.PUBLIC_LOWDB === 'true') {
  await import('projects/rpg/db/lowdb')
}

await data.initServer()
const tileIds = data.tileIds()
---

<style>
  .content {
    display: flex;
    flex-wrap: wrap;
  }
</style>

<MainLayout pageTitle="RPG Store">
  <h1 slot="header">RPG Store</h1>
  <div slot="content">
    <div class="content">
      {
        tileIds.map((id) => (
          <TileLayout>
            <Tile id={id} client:only="solid-js" />
          </TileLayout>
        ))
      }
    </div>
  </div>
</MainLayout>

<script>
  await import('projects/rpg/tiles/scripts/startup')
</script>
