---
import Tile from 'components/Tile'
import MainLayout from 'layouts/MainLayout.astro'
import TileLayout from 'layouts/TileLayout.astro'

import { tileIdsAtom } from 'stores/tiles'

const tileIds = ['Race', 'Occupation', 'Abilities', 'Symbols']
---

<style>
  .content {
    display: flex;
    flex-wrap: wrap;
  }
</style>

<MainLayout pageTitle="RPG Store">
  <h1 slot="header">RPG Store</h1>
  <div slot="content">
    <div class="content">
      {
        tileIds.map((id) => (
          <TileLayout>
            <Tile id={id} client:only="solid-js" />
          </TileLayout>
        ))
      }
    </div>
  </div>
</MainLayout>
