---
import Tile from 'components/Tile'
import MainLayout from 'layouts/MainLayout.astro'
import TileLayout from 'layouts/TileLayout.astro'
import data from 'business/data'

const tileIds = data.tileIds
---

<style>
  .content {
    display: flex;
    flex-wrap: wrap;
  }
</style>

<MainLayout pageTitle="RPG Store">
  <h1 slot="header">RPG Store</h1>
  <div slot="content">
    <div class="content">
      {
        tileIds.map((id) => (
          <TileLayout>
            <Tile id={id} client:only="solid-js" />
          </TileLayout>
        ))
      }
    </div>
  </div>
</MainLayout>

<script>
  import 'log/pubsub'
  import data from 'business/data'
  import 'stores/tiles'
  data.publish()
</script>
