---
import TestLayout from 'tests/layouts/TestLayout.astro'
---

<style>
  .content {
    margin: 1rem;
  }
</style>

<TestLayout pageTitle="Unit tests">
  <div class="content">
    <ul>
      <li><a href="/tests/projects/rpg/tiles/stores/tiles">Tiles store</a></li>
      <li><a href="/tests/projects/rpg/tiles/business/data">Business data</a></li>
    </ul>
  </div>
</TestLayout>
