---
import TestLayout from 'layouts/tests/TestLayout.astro'
---

<style>
  .content {
    margin: 1rem;
  }
</style>

<TestLayout pageTitle="Unit tests">
  <div class="content">
    <ul>
      <li><a href="/tests/stores/tiles">Tiles store</a></li>
      <li><a href="/tests/business/tiles">Business data</a></li>
    </ul>
  </div>
</TestLayout>
