---
import initdb from '@builder/business/db/initdb'

await initdb()

import initTheme from '@layouts/initTheme'

await initTheme()

import style from 'styles/style'

import { useUserAgent } from 'astro-useragent'

const uaString = Astro.request.headers.get('user-agent')
const { source, isMobile } = useUserAgent(uaString)

const fontSize = isMobile ? '16px' : '8px'
---

<div id="main" style={style('body')} data-fontsize={fontSize}>
  <slot />
</div>

<script>
  const main = document.getElementById('main')
  const fontSize = main.dataset.fontsize
  const root = document.querySelector('html')
  root.style.fontSize = fontSize
</script>
