---
import initdb from '@builder/business/db/initdb'

await initdb()

import initTheme from '@layouts/initTheme'

await initTheme()

import style from 'styles/style'

import { useUserAgent } from 'astro-useragent'

const uaString = Astro.request.headers.get('user-agent')
const { source, isMobile } = useUserAgent(uaString)

const fontSize = isMobile ? '24px' : '16px'

console.log('source', source)
console.log('mobile', isMobile)
---

<div style={style('body', { fontSize })}>
  <slot />
</div>
