---
import initdb from '@builder/business/db/initdb'

await initdb()

import initTheme from '@layouts/initTheme'

await initTheme()

import style from 'styles/style'

import { useUserAgent } from 'astro-useragent'

const uaString = Astro.request.headers.get('user-agent')
const { source, isMobile } = useUserAgent(uaString)

const fontSize = isMobile ? '16px' : '8px'
---

<html>
  <head>
    <meta http-equiv="Cache-control" content="no-cache" />
  </head>
  <body>
    <style define:vars={{ fontSize }}>
      html {
        font-size: var(--fontSize);
      }
    </style>

    <div id="main" style={style('body')} data-fontsize={fontSize}>
      <slot />
    </div>
  </body>
</html>
