---
import initdb from '@builder/business/db/initdb'

await initdb()
---

<style>
  .root {
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
  }
</style>

<div class="root">
  <slot />
</div>
