---
import initdb from '@builder/business/db/initdb'

await initdb()

import initTheme from '@layouts/initTheme'

await initTheme()
---

<style>
  .root {
  }
</style>

<div class="root">
  <slot />
</div>
