---
import initdb from '@builder/business/db/initdb'

await initdb()

const blocks = await Astro.glob('/src/pages/builder/blocks/*.mdx')

console.log('BuilderLayout blocks', blocks)
---

<style>
  .root {
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(0, 255, 213);
    width: fit-content;
  }
</style>

<div class="root">
  <slot />
  <ul>
    {
      blocks
        .sort((a, b) => a.frontmatter.order - b.frontmatter.order)
        .map((block) => (
          <li>
            <a href={block.url}>{block.frontmatter.title}</a>
          </li>
        ))
    }
  </ul>
</div>
