---
import initdb from '@builder/business/db/initdb'

await initdb()

import initTheme from '@layouts/initTheme'

await initTheme()

import style from 'styles/style'
---

<div style={style('body')}>
  <slot />
</div>
