---
import 'styles/global.css'

import ThemeSelector from '@widgets/form/ThemeSelector'
import ResetButton from '@widgets/form/ResetButton'
import SaveButton from '@widgets/form/SaveButton'

import initTheme from '@layouts/initTheme'

await initTheme()

const { frontmatter } = Astro.props

import Path from 'path'
const basename = Path.basename(frontmatter.url)
const block = Path.parse(basename).name
---

<style>
  .buttons {
    display: flex;
    width: 100%;
    justify-content: end;
  }

  .themeSelector {
    position: fixed;
    top: 30px;
    right: 30px;
  }
</style>

<div class="themeSelector">
  <ThemeSelector client:only="solid-js" />
</div>

<div id="form" data-block={block}>
  <slot />
</div>
<div class="buttons">
  <ResetButton client:only="solid-js" />
  <SaveButton client:only="solid-js" />
</div>

<script>
  const form = document.getElementById('form')
  const block = form.dataset.block
  console.log('BLOCK', block)

  import startup from '@scripts/startup'
  startup(block)
</script>
