---
import ResetButton from '@widgets/form/ResetButton'
import SaveButton from '@widgets/form/SaveButton'
---

<style>
  .buttons {
    display: flex;
    width: 100%;
    justify-content: end;
  }
</style>

<div>
  <slot />
</div>
<div class="buttons">
  <ResetButton client:only="solid-js" />
  <SaveButton client:only="solid-js" />
</div>
