---
import 'styles/global.css'
import 'styles/MultiSelect.css'

import Header from '@layouts/Header.astro'
import FormControls from '@widgets/form/FormControls'

const { frontmatter } = Astro.props

import Path from 'path'
const basename = Path.basename(frontmatter.url)
const block = Path.parse(basename).name
---

<Header block={block} />

<div id="form" data-block={block}>
  <slot />
</div>
<FormControls client:only="solid-js" />

<script>
  const form = document.getElementById('form')
  const block = form.dataset.block
  console.log('BLOCK', block)

  import startup from '@scripts/startup'
  startup(block)
</script>
