---
import 'styles/global.css'

import ThemeSelector from '@widgets/form/ThemeSelector'
import FormControls from '@widgets/form/FormControls'

const { frontmatter } = Astro.props

import Path from 'path'
const basename = Path.basename(frontmatter.url)
const block = Path.parse(basename).name
---

<style>
  .themeSelector {
    position: fixed;
    top: 30px;
    right: 30px;
  }
</style>

<div class="themeSelector">
  <ThemeSelector client:only="solid-js" />
</div>

<div id="form" data-block={block}>
  <slot />
</div>
<FormControls client:only="solid-js" />

<script>
  const form = document.getElementById('form')
  const block = form.dataset.block
  console.log('BLOCK', block)

  import startup from '@scripts/startup'
  startup(block)
</script>
