---
interface Props {
  align?: 'left' | 'right' | 'center' | 'justify' | 'char'
  url?: string
}

const { align, url } = Astro.props
---

<td align={align}>
  {
    url ? (
      <a href={url} target="_blank" rel="noopener noreferrer">
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</td>
