---
import 'styles/global.css'
import 'tests/layouts/TestLayout.css'
import { ALL } from 'tests/constants'

type Props = {
  label: string
  name: string
  description: string
}
const { label, name, description }: Props = Astro.props
---

<div
  data-testid={name}
  data-test={name === ALL || name === '' ? 'test-all' : 'test-item'}
  class="test"
>
  <div class="label"><h2>{label}</h2></div>
  <div class="name">{name === ALL ? 'All' : name}</div>
  <div class="description">{description}</div>
  <slot name="action" />
  <slot name="result" />
</div>
